<div class="contextual">
  <%= link_to_if_authorized l(:label_pad_new),
                            {:controller => 'pads', :action => 'new', :project_id => @project},
                            :class => 'icon icon-add',
                            :onclick => 'Element.show("add-pad"); Form.Element.focus("pad_title"); return false;' %>
</div>

<div id="add-pad" style="display:none;">
  <h2><%=l(:label_pad_new)%></h2>
  <% form_tag({:controller => 'pads', :action => 'new', :project_id => @project}, :class => "tabular") do %>

      <%= render :partial => 'pads/form' %>

      <%= submit_tag l(:button_create) %>
      <%= link_to l(:button_cancel), "#", :onclick => 'Element.hide("add-pad")' %>
  <% end %>
</div>

<h2><%=l(:label_pad_plural)%></h2>

<ul>
<% (@pads.sort_by {|pad| pad.name}).each do |pad| %>
      <li>
        <a href="/projects/<%= @project.identifier %>/pads/<%= pad.name %>"><%= pad.name %></a>
        <% if (pad.authors.size > 0) %>
            last modification by <%= pad.authors.last.name %> at <%= Time.at(pad.last_edited/1000) %>
        <% end %>
        <% if User.current.allowed_to?(:create_pads, @project) %>
            |
            <%= link_to l(:button_edit), "/projects/" + @project.identifier + "/pads/" + pad.name + "/edit", :method => :get, :class => 'icon icon-edit' %>
            <%= link_to l(:button_delete), "/projects/" + @project.identifier + "/pads/" + pad.name + "/destroy" , :confirm => l(:text_are_you_sure), :method => :post, :class => 'icon icon-del' %>
        <% end %>
      </li>
<% end %>
</ul>